
body{
  margin: 5%;
}h1{
  font-size: 26px; 
  font-weight: bold; 
  margin-top: 2%;
  position: relative;
}
.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  position: relative;
  z-index: 1;  
}
.wrap-login100 {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background: transparent;
  display: inline-block;
}
/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: #fff;
  margin-bottom:2%;

}
.login100-form-logo {
  font-size: 60px; 
  color: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

.login100-form-title {
  font-size: 28px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  padding: 0 0;
  border: none;
}

.input100 ,.wrap-input100 input,.wrap-input100 button,.wrap-input100 div{
  font-size: 14px;
  color:rgb(80, 55, 55);
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  padding: 0 10px 0 60px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  border: none;
  border-bottom: 2px solid #e6e6e6;
}
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -10px;
  bottom: 0;
  background-color: #555555;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:#f31f1f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f31f1f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*------------------------------------------------------------------
[ Datepicker ]*/
.dtp-header{
  display: none;
}
.dtp-date-view{
  border-radius:50% ;
}
a.selected{ 
  background: #f31f1f; 
  color: #fff; 
}

/*------------------------------------------------------------------
[ Timepicker ]*/
.dtp div.dtp-date, .dtp div.dtp-time {
  background:none;
  text-align: center;
  color: #f31f1f;
  padding: 20px;
}
  /*------------------------------------------------------------------
[ Modal ]*/
.modal-header{
  border: none;
  padding-bottom: 0;
}.modal-body{
  padding: 10;
  padding-top: 5;
}
.modal-backdrop {
  visibility: hidden;
}.modal-content{
  width: 100%;
  height: 100%;
}.attendees-list {
  padding: 0 !important;
}.modal-dialog{
  width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

 form[role="search"] {
  position: static;
  top: 0px;
  right: 0px;
  width: 90%;
  padding: 0px;
  margin: auto;
  z-index: 0;
}
 form[role="search"] button,
 form[role="search"] input {
  padding: 10px 12px;
  border-radius: 50px;
  border-width: 0px;
  color: rgb(119, 119, 119);
  background-color: rgb(248, 248, 248);
  border-color: rgb(231, 231, 231);
  box-shadow: none;
  outline: none;
}
 form[role="search"] input {
  padding: 20px 16px;
  font-size: 12pt;
  color: rgb(160, 160, 160);
  box-shadow: none;
}
 form[role="search"] button[type="reset"] {
  display: none;
}
#form-check{
  padding: 20px;
  font-size: 18px;
  line-height: 2;
}#form-check input{
  background-color: #f31f1f;
  right: 5%;
  width: 20px;
}